<div class="container-fluid why-devonfw" id="whydevonfw">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="title-head">Why devonfw?</div>
            </div>
            <div class="row">
                <div class="title-head-line"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <img cl src="../../assets/images/ico_innovation.svg">
                        </div>
                        <div class="col-md-5">
                            <div class="markdown">
                                <ngx-md [path]="'../../assets/content/DEVONFW/innovation.md'">
                                </ngx-md>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <img cl src="../../assets/images/ico_quality.svg">
                        </div>
                        <div class="col-md-5">
                            <div class="markdown">
                                <ngx-md [path]="'../../assets/content/DEVONFW/quality.md'">
                                </ngx-md>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <img cl src="../../assets/images/ico_flexibility.svg">
                        </div>
                        <div class="col-md-5">
                            <div class="markdown">
                                <ngx-md [path]="'../../assets/content/DEVONFW/flexibility.md'">
                                </ngx-md>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <img cl src="../../assets/images/ico_highSpeed.svg">
                        </div>
                        <div class="col-md-5">
                            <div class="markdown">
                                <ngx-md [path]="'../../assets/content/DEVONFW/high-speed.md'">
                                </ngx-md>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>