.row
{
  text-align: left;
  margin-left: 10px;
  padding-bottom: 20px;
}

.title-head
{
  padding-top: 50px;
  color: #ffffff;
  font-family: montserrat-regular;
  font-size: 32px;
  text-align: left;
  margin-bottom: 30px;
}

img
{
  height:50px;
  width:50px;
}

.why-devonfw .markdown h2 {
  color: white;
  font-family: montserrat-Regular;
  font-size: 24pt;
  line-height: 28pt;
  font-weight: 500;
}