<div class="container-fluid OASP" id="whydevonfw">
    <div class="container">
        <div class="col-md-12">
            <div class="row"><div class="title-head">Why Devonfw?</div></div>         
            <div class="row">               
                <div class="col-md-12">                   
                    <div class="row">
                        <div class="col-md-1">
                            <img cl src="../../assets/images/innovation.png">
                        </div>
                        <div class="col-md-5">
                            <div class="markdown">
                                <markdown [path]="'../../assets/content/DEVONFW/innovation.md'"></markdown>
                            </div>
                        </div>
                        <div class="col-md-1">
                                <img cl src="../../assets/images/quality.png">
                            </div>
                            <div class="col-md-5">
                                <div class="markdown">
                                    <markdown [path]="'../../assets/content/DEVONFW/quality.md'"></markdown>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">
                                <img cl src="../../assets/images/flexibility.png">
                            </div>
                            <div class="col-md-5">
                                <div class="markdown">
                                    <markdown [path]="'../../assets/content/DEVONFW/flexibility.md'"></markdown>
                                </div>
                            </div>
                            <div class="col-md-1">
                                    <img cl src="../../assets/images/high-speed.png">
                                </div>
                                <div class="col-md-5">
                                    <div class="markdown">
                                        <markdown [path]="'../../assets/content/DEVONFW/high-speed.md'"></markdown>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>