<div class="container-fluid usedTechnologies">
  <div class="container">
    <div class="row logos-tech">
      <div class="col-md-3 col-sm-6 col-6">
        <a href="https://spring.io/" target="_blank">
          <img onmouseover="this.src='../../assets/logos/spring_logo.png';" 
               onmouseout="this.src='../../assets/logos-colours/spring_logo.png';"
               alt="spring-logo" src="../../assets/logos-colours/spring_logo.png">
        </a>
      </div>
      <div class="col-md-3 col-sm-12  col-6">
        <a href="https://www.java.com/" target="_blank">
          <img onmouseover="this.src='../../assets/logos/java_ee.png';" 
          onmouseout="this.src='../../assets/logos-colours/java_ee.png';" 
          alt="javaee-logo" src="../../assets/logos-colours/java_ee.png">
        </a>
      </div>
      <div class="col-md-3 col-sm-12  col-6">
        <a href="http://projects.spring.io/spring-boot/" target="_blank">
          <img onmouseover="this.src='../../assets/logos/boot_logo.png';" 
          onmouseout="this.src='../../assets/logos-colours/boot_logo.png';" 
          alt="springboot-logo" src="../../assets/logos-colours/boot_logo.png">
        </a>
      </div>
      <div class="col-md-3 col-sm-12  col-6">
        <a href="http://www.querydsl.com/" target="_blank">
          <img onmouseover="this.src='../../assets/logos/query_logo.png';" 
          onmouseout="this.src='../../assets/logos-colours/query_logo.png';" 
          alt="querydsl-logo" src="../../assets/logos-colours/query_logo.png">
        </a>
      </div>
      <div class="col-md-3 col-sm-12  col-6">
        <a href="http://flywaydb.org/" target="_blank">
          <img onmouseover="this.src='../../assets/logos/flyway_logo.png';" 
          onmouseout="this.src='../../assets/logos-colours/flyway_logo.png';" 
          alt="flyway-logo" src="../../assets/logos-colours/flyway_logo.png">
        </a>
      </div>
      <div class="col-md-3 col-sm-12  col-6">
        <a href="https://angularjs.org/" target="_blank">
          <img onmouseover="this.src='../../assets/logos/angular_logo.svg.png';" 
          onmouseout="this.src='../../assets/logos-colours/angular_logo.svg.png';" 
          alt="angularjs-logo" src="../../assets/logos-colours/angular_logo.svg.png">
        </a>
      </div>
      <div class="col-md-3 col-sm-12  col-6">
        <a href="http://maven.apache.org/" target="_blank">
          <img onmouseover="this.src='../../assets/logos/maven_logo.svg.png';" 
          onmouseout="this.src='../../assets/logos-colours/maven_logo.svg.png';" 
          alt="maven-logo" src="../../assets/logos-colours/maven_logo.svg.png">
        </a>
      </div>
      <div class="col-md-3 col-sm-12  col-6">
        <a href="http://cxf.apache.org/" target="_blank">
          <img onmouseover="this.src='../../assets/logos/apache_logo.png';" 
          onmouseout="this.src='../../assets/logos-colours/apache_logo.png';" 
          alt="apache-logo" src="../../assets/logos-colours/apache_logo.png">
        </a>
      </div>
    </div>
  </div>
</div>