.devonfw {
  background: url('/assets/images/logo.png') center center no-repeat;
  background-color: #4bbdec;
  background-size: contain;
  background-position-x: -140px;
  text-align: right !important;
}

.devonfw h1 {
  margin-top: 40%;
}

/**Markdown Styles**/

.devonfw .markdown h1 {
  color: #ffffff;
  font-family: montserrat-regular;
  font-weight: 500;
}

.devonfw .markdown p {
  color: #ffffff !important;
  font-style: normal;
  font-family: montserrat-light;
}

.devonfw .markdown h1::after {
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  margin: 10px 0px;
  width: 15%;
  background-color: #ffffff;
  height: 4px;
}

.devonfw .markdown a {
  border-color: #ffffff;
  color: #ffffff;
}

.devonfw .markdown a:hover {
  border-color: #ffffff;
  color: #4bbdec;
  background-color: #ffffff;
}

/**Media query*/

/*---------------------- ---------------------- Responsive UI -------------------------------------------- */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

  .devonfw {
    text-align: center !important;
  }
  .devonfw h1 {
    margin-top: 10%;
  }
  .devonfw .markdown h1::after {
    width: 15%;
    margin-right: 35%;
    margin-left: 43%;
    position: relative;
    right: 0px;
  }
  .devonfw {
    background-image: none;
  }
  .devonfw img {
    width: 100px;
    padding-top: 40px;
    text-align: center;
  }  
  
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

  .devonfw {
    text-align: right !important;
  }
  .devonfw h1 {
    margin-top: 10%;
  }
  .devonfw .markdown h1::after {
    width: 25%;
    position: relative;
    right: 0px;
  }
  .devonfw img {
    width: 100px;
    padding-top: 40px;
    text-align: right;
  }
  .devonfw .markdown a {
    border-color: #ffffff;
    color:white;
    margin-left: -10px;
    width: 170px;
  }
  
  .devonfw .markdown a:hover {
    border-color: #ffffff;
    color: #4bbdec;
    background-color: #ffffff;
  }

  .devonfw .markdown p {
    color: #ffffff !important;
    font-style: normal;
    font-family: montserrat-light;
    font-size: 16px;
    text-align: right !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  
  .devonfw {
    text-align: right !important;
  }
  .devonfw h1 {
    text-align: right;
    margin-top: 10%;
  }
  .devonfw .markdown h1::after {
    width: 25%;
    position: relative;
    right: -100px;
  }
  .devonfw img {
    width: 100px;
    padding-top: 40px;
    text-align: right;
  }
  .devonfw .markdown a {
    border-color: #ffffff;
    color:white;
    margin-left: -10px;
    width: 170px;
  }
  
  .devonfw .markdown a:hover {
    border-color: #ffffff;
    color: #4bbdec;
    background-color: #ffffff;
  }

  .devonfw .markdown p {
    color: #ffffff !important;
    font-style: normal;
    font-family: montserrat-light;
    font-size: 16px;
    text-align: right !important;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

  .devonfw {
    text-align: right !important;
  }
  .devonfw h1 {
    margin-top: 10%;
  }
  .devonfw .markdown h1::after {
    width: 25%;
    position: relative;
    right: 0px;
  }
  .devonfw img {
    width: 100px;
    padding-top: 40px;
    text-align: right;
  }
  .devonfw .markdown a {
    border-color: #ffffff;
    color:white;
    margin-left: -10px;
    width: 170px;
  }
  
  .devonfw .markdown a:hover {
    border-color: #ffffff;
    color: #4bbdec;
    background-color: #ffffff;
  }

  .devonfw .markdown p {
    color: #ffffff !important;
    font-style: normal;
    font-family: montserrat-light;
    font-size: 16px;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }
