@font-face {
  font-family: Monfont-sizetserrat-Medium;
  src: url("../../assets/fonts/Montserrat-Medium.ttf")
}

.navbar {
  background-color: transparent;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.navbar .active .nav-link {
  color: #ffffff !important;
}

.navbar .active .nav-link:hover {
  text-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  font-family: Montserrat-Regular;
  font-size: 13.5px;
}

/* vertical bar between menu items*/
/*
.span-bar {
  border-right: 1px solid white;
  height: 25px;
}
*/
/* underline for external menu items*/

.no-bars.active {
  border-bottom: 3px solid #ffffff;
}

.dropdown-toggle {
  font-family: Montserrat-Regular;
  color: #ffffff !important;
  font-size: 14px;
}

.nav-item {
  text-align: center;
  vertical-align: middle;
  display: block;
  border-right: 1px solid white;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item:last-child{
  border-right: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  /*text-shadow: 1px 1px 1px #207090;*/
  color: rgba(255, 255, 255, .5);
  transition: all .2s ease-in-out;
}

img {
  width: 228px;
  height: 118px;
}

.cg_internal, .nav>li>a.cg_internal {
  text-align: center;
}

.dropdown-menu {
  background-color: #4bbdec;
  margin-right: -1000px;
  border: transparent;
  margin-left: 150%;
}

/* horizontal dropdown menu*/

.dropdown-menu>li {
  display: inline-block;
}

.dropdown-item {
  color: #ffffff;
  font-family: Montserrat-Regular;
  font-size: 13.5px;
}

.dropdown-item:hover {
  color: gray;
  border: none;
}

.dropdown-toggle::after {
  display: none;
}

/* ---------------------- ---------------------- Responsive UI -------------------------------------------- */

/* ----------- Mobile S----------- */



@media only screen and (max-width: 359px) {
  .collapse.navbar-collapse.show {
  }
  img {
    width: 114px;
    height: 64px;
  }

  .nav-item{
    border: none;
  }

  .dropdown-menu {
    background-color: #4bbdec;
    margin-right: -150px;
    border: transparent;
    margin-left: -50px;
    border: none;
  }

}


/* Galaxy SIII in Chrome - 720x1280 */

@media only screen and (min-width: 360px) and (max-width: 640px) {

  .collapse.navbar-collapse.show {

  }
  img {
    width: 114px;
    height: 64px;
  }

  .nav-item{
    border: none;
  }

  .dropdown-menu {
    background-color: #4bbdec;
    margin-right: -170px;
    border: transparent;
    margin-left: -30px;
    border: none;
  }
}

/* ----------- Mobile M ----------- */

@media only screen and (min-width: 375px) and (max-width: 604px) {
  .collapse.navbar-collapse.show {

  }
  img {
    width: 114px;
    height: 64px;
  }

  .nav-item{
    border: none;
  }

  .dropdown-menu {
    background-color: #4bbdec;
    margin-right: -200px;
    border: transparent;
    margin-left: -25px;
  }
}

/* ----------- Mobile L----------- */

/* Full HD 1080x1920 (Google Pixel 2 in Chrome) and QHD 1440x2560 (Google Pixel 2 XL in Chrome)  */

@media only screen and (min-width: 411px) and (max-width: 731px) {
  .collapse.navbar-collapse.show {

  }
  img {
    width: 114px;
    height: 64px;
  }

  .nav-item{
    border: none;
  }

  .dropdown-menu {
    background-color: #4bbdec;
    margin-right: -170px;
    border: transparent;
    margin-left: -10px;
  }
}

/* ----------- Tablet (iPad)----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar{
    padding-bottom: 45px;
  }
  .collapse.navbar-collapse.show {

  }
  img {
    width: 114px;
    height: 64px;
  }

  .nav-item{
    border: none;
  }

  .nav-link{
    font-size: 14px;
  }

  /* horizontal dropdown menu*/
  .dropdown-menu>li {
    display: inline-block;
  }
  .dropdown-menu {
    background-color: #4bbdec;
    margin-right: -1000px;
    border: transparent;
    margin-left: 150px;
  }
  .dropdown-item {
    color: #ffffff;
    font-family: Montserrat-Regular;
    font-size: 10px;
  }
}

/* ----------------------  ---------------------- Other Devices  ---------------------- ---------------------- */

/* ----------- iPad Pro 12.9" ----------- */

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .navbar{
    padding-bottom: 30px;
  }
  .collapse.navbar-collapse.show {

  }
  .navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
    font-family: Montserrat-Regular;
    font-size: 12px;
    margin: 1px;
  }

  .dropdown-toggle {
    font-family: Montserrat-Regular;
    color: #ffffff !important;
    font-size: 10px;
  }
  .navbar-brand {
    width: 90px;
    height: 100px;
  }
  img {
    width: 100px;
    height: 60px;
  }
  .nav-item{
    border: none;
  }
  /* horizontal dropdown menu*/
  .dropdown-menu>li {
    display: inline-block;
  }
  .dropdown-menu {
    background-color: #4bbdec;
    margin-right: -1000px;
    border: transparent;
    margin-left: 150px;
  }
  .dropdown-item {
    color: #ffffff;
    font-family: Montserrat-Regular;
    font-size: 10px;
  }
}
