<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/oasp']">
    <img src="../../assets/images/devonfw-oasp.png">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cg_internal" (click)="isCollapsed = !isCollapsed" href="https://troom.capgemini.com/sites/vcc/devon/overview.aspx">
          Overview
        </a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="dropdown-toggle" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Technology Stack
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">     
            <li>
              <a class="dropdown-item" (click)="isCollapsed = !isCollapsed" [routerLink]="['/oasp']">
                OASP
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="isCollapsed = !isCollapsed" [routerLink]="['/oasp4-j']">
                OASP4J
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="isCollapsed = !isCollapsed" [routerLink]="['/oasp4-js']">
                OASP4JS
              </a>
            </li>
        </ul>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cg_internal" (click)="isCollapsed = !isCollapsed" href="https://troom.capgemini.com/sites/vcc/devon/roadmap.aspx">
          Roadmap & Releases
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cg_internal" (click)="isCollapsed = !isCollapsed" href="https://troom.capgemini.com/sites/vcc/devon/ipcatalog.aspx">
          IP catalog
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cg_internal" (click)="isCollapsed = !isCollapsed" href="https://troom.capgemini.com/sites/vcc/devon/collaboration.aspx">
          Community
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cg_internal" (click)="isCollapsed = !isCollapsed" href="https://troom.capgemini.com/sites/vcc/devon/references.aspx">
          Sales & Marketing
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cg_internal" (click)="isCollapsed = !isCollapsed" href="https://troom.capgemini.com/sites/vcc/devon/training_hub.aspx">
          Training hub
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cg_internal" (click)="isCollapsed = !isCollapsed" href="https://troom.capgemini.com/sites/vcc/devon/faq.aspx">
          FAQs
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cg_internal" (click)="isCollapsed = !isCollapsed" href="https://troom.capgemini.com/sites/vcc/devon/getstarted.aspx">
          Getting started
        </a>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          [routerLink]="['/oasp4net']">
          OASP4NET
          </a>
      </li>
       <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          [routerLink]="['/more']">
          More
          </a>
      </li>-->

    </ul>
  </div>
</nav>