<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/oasp']"><img src="../../assets/images/devonfw-oasp.png"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="dropdown" routerLinkActive="active">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle" [routerLink]="['/oasp']">
          About
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Overview</a></li>
            <li><a href="#">iCSD Initiative</a></li>
            <li><a href="#">Production Line</a></li>
        </ul>
      </li>    
      <li class="dropdown" routerLinkActive="active">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle" (click)="isCollapsed = !isCollapsed" [routerLink]="['/why-devonfw']">
            Why Devonfw
          </a>
          <ul class="dropdown-menu">
              <li><a href="#">Featured</a></li>
              <li><a href="#">Core Products & Modules</a></li>
              <li><a href="#">Technology Stack</a></li>
              <li><a href="#">Roadmap & Releases</a></li>
              <li><a href="#">Showcases & Incubator</a></li>
              <li><a href="#">APPS2 Industrialization catalog</a></li>
          </ul>
        </li>  
      <li class="dropdown" routerLinkActive="active">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle" (click)="isCollapsed = !isCollapsed" [routerLink]="['/oasp4-j']">
          For Java
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"> OASP4J </a></li>
            <li><a href="#">OASP4Fn</a></li>
        </ul>
      </li>
      <li class="dropdown" routerLinkActive="active">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle" (click)="isCollapsed = !isCollapsed" [routerLink]="['/oasp4-js']">
          For JavaScript
          </a>
          <ul class="dropdown-menu">
              <li><a href="#">OASP4JS</a></li>
              <li><a href="#">Devon4Sencha</a></li>
          </ul>
      </li>
      <li class="dropdown" routerLinkActive="active">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle" (click)="isCollapsed = !isCollapsed" [routerLink]="['/documentation']">
          Documentation
          </a>
          <ul class="dropdown-menu">
              <li><a href="#">Getting Started Guides</a></li>
              <li><a href="#">Architecture</a></li>
              <li><a href="#">Complete Devonfw Guide</a></li>
              <li><a href="#">Downloads</a></li>
              <li><a href="#">GitHub Repositories</a></li>
              <li><a href="#">Video Tutorials</a></li>
              <li><a href="#">License Policy</a></li>          
          </ul>
      </li>
      <li class="dropdown" routerLinkActive="active">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle" (click)="isCollapsed = !isCollapsed" [routerLink]="['/Community']">
          Community
          </a>
          <ul class="dropdown-menu">
              <li><a href="#">Contributing to devonfw</a></li>
              <li><a href="#">Collaborate</a></li>
              <li><a href="#">OASP Technology Stacks</a></li>
              <li><a href="#">Newsletter & Webcast</a></li>
              <li><a href="#">Sounding Board Meeting</a></li>
          </ul>
      </li>
      <li class="dropdown" routerLinkActive="active">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle" (click)="isCollapsed = !isCollapsed" [routerLink]="['/Community']">
          Help & Support
          </a>
          <ul class="dropdown-menu">
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Training Hub</a></li>
              <li><a href="#">Sales & Marketing</a>
              <li><a href="#">FAQ</a></li>
          </ul>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          [routerLink]="['/oasp4net']">
          OASP4NET
          </a>
      </li>
       <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          [routerLink]="['/more']">
          More
          </a>
      </li>-->

    </ul>
  </div>
</nav>