<div class="container-fluid about">
  <div class="container">
    <ngb-tabset type="pills" class="tabset">
      <ngb-tab title="One Flexible Solution">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Desktop Apps</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Web Apps</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/mobile_icon.png" alt="Mobile apps">
                <div class="desc">
                  <h5>Mobile Apps</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/batch_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Batch processing</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/integration_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Integration</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/cloud_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Cloud</h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Architecture Background">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/architecture-background.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/architecture_background.png" height="350px" width="600px">
            </div>
            <!--More Info-->
            <a href="https://github.com/oasp-forge/oasp4j-wiki/wiki/architecture" class="btn">More Info</a>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Architecture Patterns">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/architecture-patterns.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/OASP-Layering.png" height="350px" width="600px">
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Used Technologies">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/used-technologies.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/used-technologies.jpg" height="300px" width="600px">
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="IDE">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/ide.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/ide.png" height="350px" width="600px">
            </div>
            <!--More Info-->
            <a href="https://github.com/devonfw/devon/wiki/getting-started-the-devon-ide" class="btn">More Info</a>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Examples">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/examples.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/examples.png" height="350px" width="600px">
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>



    <!--version movil-->
    <div class="col-10 offset-1 d-sm-none d-md-none d-inline">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="carousel-caption">
            <h3>One flexible solution</h3>
          </div>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Desktop apps">
                <div class="desc">
                  Desktop Apps
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Desktop apps">
                <div class="desc">
                  Web Apps
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/mobile_icon.png" alt="Mobile apps">
                <div class="desc">
                  Mobile Apps
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/batch_icon.png" alt="Desktop apps">
                <div class="desc">
                  Batch processing
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/integration_icon.png" alt="Desktop apps">
                <div class="desc">
                  Integration
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/cloud_icon.png" alt="Desktop apps">
                <div class="desc">
                  Cloud
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="carousel-caption">
            <h3>Architecture background</h3>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/architecture-background.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/architecture_background.png" height="180px" width="330px">
            </div>
            <!--More Info-->
            <input type="button" class="btn btn-info more-info" value="More Info" onclick="location.href = 'https://github.com/oasp-forge/oasp4j-wiki/wiki/architecture';">
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="carousel-caption">
            <h3>Architecture Patterns</h3>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/architecture-patterns.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/OASP-Layering.png" height="180px" width="330px">
            </div>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="carousel-caption">
            <h3>Used Technologies</h3>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/used-technologies.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/used-technologies.jpg" height="180px" width="330px">
            </div>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="carousel-caption">
            <h3>IDE</h3>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/ide.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/ide.png" height="180px" width="330px">
            </div>
            <!--More Info-->
            <input type="button" class="btn btn-info more-info" value="More Info" onclick="location.href = 'https://github.com/devonfw/devon/wiki/getting-started-the-devon-ide';">
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="carousel-caption">
            <h3>Examples</h3>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <div class="markdown">
                <ngx-md [path]="'../../assets/content/TABPANEL/examples.md'">
                </ngx-md>
              </div>
            </div>
            <div class="col-sm-5">
              <img cl src="../../assets/images/examples.png" height="180px" width="330px">
            </div>
          </div>

        </ng-template>
      </ngb-carousel>
    </div>

  </div>
</div>