.about {
  background: url("../../assets/images/corte_2.png") -580px -300px;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px rgba(68, 68, 68, 0.3);
  padding: 40px 0px 30px;
  background-size: 100%;
  height: 700px;
}

.about .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  color: #0275d8;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.0);
  border-bottom: 3px solid #0275d8;
  border-radius: 0px;
  margin-bottom: 40px;
}

.about .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link:hover {
  color: #0275d8;
  border-bottom: 3px solid #0275d8;
  border-radius: 0px;
}

.about .nav-pills {
  justify-content: center !important;
}

li {
  padding: 0px 10px;
}

.gallery {
  box-shadow: 0 0 30px rgba(68, 68, 68, 0.3);
  background: #ddd;
  border-radius: 3px;
  margin-bottom: 40px;
  background-color: #4bbdec;
  text-align: center;
}

.gallery img {
  width: auto;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.desc {
  background-color: white;
  padding: 15px;
  text-align: left;
  padding-top: 23px;
  font-family: Montserrat-medium;
  color: #4bbdec;
  height: 70px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.desc h5::after {
  content: "";
  display: block;
  position: absolute;
  margin: 0px 0px;
  width: 2em;
  background-color: #4bbdec;
  height: 4px;
  margin-top: 4px;
}

.carousel-indicators li {
  border-radius: 50%;
  padding: 0px;
  max-width: 15px;
  max-height: 15px;
  width: 15px;
  height: 15px;
  border: 2px solid #4bbdec;
  background-color: #4bbdec;
  top: 40px;
}

.carousel-tab-panel .carousel-item p {
  text-align: center;
  width: 100%;
}

.img-resp {
  text-align: center;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, .15);
}

.about * {
  outline: none;
}

.about .markdown h3 {
  color: black;
  font-size: 16pt;
  margin-bottom: 30px;
}

.about .markdown h3::after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  margin: 20px 0px;
  width: 15%;
  background-color: white;
  height: 4px;
}

.about .markdown h4 {
  color: black;
  font-family: montserrat-Regular;
  font-size: 16pt;
}

.about .markdown p {
  color: black !important;
  font-size: 12pt;
  font-family: montserrat-Regular;
  font-style: normal;
  font-weight: 200;
  line-height: 30pt;
}

.about .markdown li {
  color: black !important;
  font-size: 12pt;
  font-family: montserrat-Regular;
  font-style: normal;
  font-weight: 200;
  padding: 20px 0px;
  list-style-type: square;
  line-height: 15pt;
}

.more-info {
  margin-left: 1100px;
}

/*---------------------- ---------------------- Responsive UI -------------------------------------------- */

@media (max-width: 767px) {
  .about {
    height: auto;
  }
  .img-resp {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .text-xs-center {
    text-align: center;
  }
  .about .tabset {
    display: none;
  }
  .gallery img {
    width: auto;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  li {
    text-align: center
  }
  .carousel-indicators .active {
    background-color: transparent;
  }
  .carousel-indicators {
    top: -80px;
  }
  .carousel-item.active {
    display: block!important;
  }
  .carousel-caption {
    color: #4bbdec;
    font-family: Montserrat-Medium;
    font-size: 12pt;
    font-weight: 200;
    top: auto;
    left: auto;
    width: 100%;
    position: relative;
    float: none;
    right: auto;
  }
  .about .carousel-caption h3 {
    color: #4bbdec;
    font-family: Montserrat-Medium;
    font-size: 12pt;
  }
  p {
    text-align: center;
    padding: 0px 10px;
  }
}

/* ----------- Mobile S----------- */

/* Galaxy SIII in Chrome - 720x1280 */

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .about .markdown p {
    color: black !important;
    font-size: 12pt;
    font-family: montserrat-Regular;
    font-style: normal;
    font-weight: 200;
    line-height: 30pt;
    text-align: left;
  }
  .about .markdown li {
    color: black !important;
    font-size: 12pt;
    font-family: montserrat-Regular;
    font-style: normal;
    font-weight: 200;
    padding: 10px 0px;
    list-style-type: square;
    line-height: 15pt;
    text-align: left;
  }
  .about .carousel-caption h3 {
    color: #4bbdec;
    font-family: Montserrat-Medium;
    font-size: 14pt;
  }
  .more-info {
    margin-top: 20px;
    margin-left: 100px;
  }

  .btn-info {
    color: #4bbdec;
    background-color: transparent;
    border-color: #4bbdec;
    border-radius: 72px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 72px;
    font-size: 12pt;
    border-width: 2px;
    font-family: Montserrat-Regular;
    cursor: pointer;
    margin-right: 10px;
  }
}

/* ----------- Mobile L----------- */

/* Full HD 1080x1920 (Google Pixel 2 in Chrome) and QHD 1440x2560 (Google Pixel 2 XL in Chrome)  */

@media only screen and (min-width: 411px) and (max-width: 731px) {
 
}

/* ----------- Tablet (iPad)----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .row {
    text-align: left;
    padding-bottom: 15px;
    margin-right: -40px;
    margin-left: -30px;
  }

  .about .markdown p {
    color: black !important;
    font-size: 10pt;
    font-family: montserrat-Regular;
    font-style: normal;
    font-weight: 200;
    line-height: 15pt;
  }
  .about .markdown li {
    color: black !important;
    font-size: 10pt;
    font-family: montserrat-Regular;
    font-style: normal;
    font-weight: 200;
    padding: 5px 0px;
    list-style-type: square;
    line-height: 15pt;
    text-align: left;
  }
  .about .carousel-caption h3 {
    color: #4bbdec;
    font-family: Montserrat-Medium;
    font-size: 10pt;
  }
  .about .markdown h3 {
    color: black;
    font-size: 12pt;
    margin-bottom: 30px;
  }

  .more-info {
    margin-top: 10px;
    margin-left: 550px;
  }
}