.OASP {
  background: url("../../assets/images/img_1.png") center no-repeat;
  background-color: #4bbdec;
  background-size: cover;
  text-align: left;
  margin-left: -13%;
}

.OASP .markdown p {
  color: white;
  font-size: 14pt;
  font-family: montserrat-light;
  font-style: normal;
  font-weight: 100;
  line-height: 18pt;
}

.OASP .markdown li {
  color: white;
  font-size: 16pt;
  font-family: montserrat-Regular;
  font-style: normal;
  font-weight: 100;
  line-height: 16pt;
  padding: 5px 0px; 
  list-style-type: square; 
}

.OASP .markdown a {
  color:white;
  display: initial;
  width: auto;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12pt;
  font-family: Montserrat-Regular;
  font-style: normal;
  cursor: pointer;
  text-decoration: underline;
  border-width: 0px;
}

.OASP .markdown h2 {
  color: white;
  font-family: montserrat-Regular;
  font-size: 24pt;
  line-height: 28pt;
  font-weight: 500;
}

.OASP .markdown h4 {
  color: white;
  font-family: montserrat-Regular;
  font-size: 16pt;
  line-height: 28pt;
  border-bottom: white 6px;
  width: 30%;
  border-bottom-style: solid;
}
.OASP .markdown h2::after {
  display: none;
}

.button-style{
  margin-left: 8%;
  margin-bottom: 4%;
}

.cg_internal {
  display: none;
}

/*---------------------- ---------------------- Responsive UI -------------------------------------------- */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

  .OASP {
    text-align: left;
  }

 .text-xs-center {
    text-align: left;
  }

  .OASP .markdown p {
    text-align: left;
    padding-left: 5%;
    font-size: 12pt;
  }
  .OASP .markdown h2 {
    text-align: left;
    margin-left: 3%;
  }

  .OASP .markdown li {
    text-align: left;
    margin-left: 5%;  
    font-size: 12pt;  
  }
  
  .col-11 {
    text-align: left;
    margin-left: 10%;
    width: 100%;
  }

  .btn-primary {
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 72px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 52px;
    font-size: 10pt;
    border-width: 2px;
    font-family: Montserrat-Regular;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
  }
  .btn-primary:nth-last-of-type() {
    margin-right: 0px;
  }
  
  .btn-primary:hover, .btn-primary:active, .markdown a:hover, .markdown a:active {
    color: #fff;
    background-color: #4bbdec;
    border-color: #4bbdec;
    text-decoration: none;
  }
  
  .btn-primary.btn-white {
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .btn-primary.btn-white:hover {
    border-color: #ffffff;
    color: #4bbdec;
    background-color: #ffffff;
  }
  
  .btn-primary.btn-dark {
    border-color: #222c38;
    color: #ffffff;
    background-color: #222c38;
  }
  
  .btn-primary.btn-dark:hover {
    border-color: #11161c;
    color: rgba(255, 255, 255, 0.95);
    background-color: #11161c;
  }
 
  .button-style{
    margin-left: 10%;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

  .OASP {
    background: url("../../assets/images/img_1.png") center no-repeat;
    background-color: #4bbdec;
    background-size: cover;
    text-align: left;
  }

 .text-xs-center {
    text-align: left;
  }

  .OASP .markdown p {
    text-align: left;
    padding-left: 10%;
    font-size: 12pt;
  }
  .OASP .markdown h2 {
    text-align: left;
    margin-left: 10%;
  }

  .OASP .markdown li {
    text-align: left;
    margin-left: 10%;  
    font-size: 12pt;  
  }

  .btn-primary {
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 72px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 52px;
    font-size: 10pt;
    border-width: 2px;
    font-family: Montserrat-Regular;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
  }
  .btn-primary:nth-last-of-type() {
    margin-right: 0px;
  }
  
  .btn-primary:hover, .btn-primary:active, .markdown a:hover, .markdown a:active {
    color: #fff;
    background-color: #4bbdec;
    border-color: #4bbdec;
    text-decoration: none;
  }
  
  .btn-primary.btn-white {
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .btn-primary.btn-white:hover {
    border-color: #ffffff;
    color: #4bbdec;
    background-color: #ffffff;
  }
  
  .btn-primary.btn-dark {
    border-color: #222c38;
    color: #ffffff;
    background-color: #222c38;
  }
  
  .btn-primary.btn-dark:hover {
    border-color: #11161c;
    color: rgba(255, 255, 255, 0.95);
    background-color: #11161c;
  }
  .button-style{
    margin-left: 10%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  
  .OASP {
    background: url("../../assets/images/img_1.png") center no-repeat;
    background-color: #4bbdec;
    background-size: cover;
    text-align: left;
  }

 .text-xs-center {
    text-align: left;
    margin-left: 10%;
  }

  .OASP .markdown p {
    text-align: left;
    padding-left: 10%;
    font-size: 12pt;
  }
  .OASP .markdown h2 {
    text-align: left;
    margin-left: 10%;
  }

  .OASP .markdown li {
    text-align: left;
    margin-left: 10%;  
    font-size: 12pt;  
  }

  .btn-primary {
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 72px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 52px;
    font-size: 10pt;
    border-width: 2px;
    font-family: Montserrat-Regular;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
  }
  .btn-primary:nth-last-of-type() {
    margin-right: 0px;
  }
  
  .btn-primary:hover, .btn-primary:active, .markdown a:hover, .markdown a:active {
    color: #fff;
    background-color: #4bbdec;
    border-color: #4bbdec;
    text-decoration: none;
  }
  
  .btn-primary.btn-white {
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .btn-primary.btn-white:hover {
    border-color: #ffffff;
    color: #4bbdec;
    background-color: #ffffff;
  }
  
  .btn-primary.btn-dark {
    border-color: #222c38;
    color: #ffffff;
    background-color: #222c38;
  }
  
  .btn-primary.btn-dark:hover {
    border-color: #11161c;
    color: rgba(255, 255, 255, 0.95);
    background-color: #11161c;
  }
  .button-style{
    margin-left:18%;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

  .OASP {
    background: url("../../assets/images/img_1.png") center no-repeat;
    background-color: #4bbdec;
    background-size: cover;
    text-align: left;
  }

 .text-xs-center {
    text-align: left;
    margin-left: 10%;
  }

  .OASP .markdown p {
    text-align: left;
    padding-left: 10%;
    font-size: 12pt;
  }
  .OASP .markdown h2 {
    text-align: left;
    margin-left: 10%;
  }

  .OASP .markdown li {
    text-align: left;
    margin-left: 10%;  
    font-size: 12pt;  
  }

  .btn-primary {
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 72px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 52px;
    font-size: 10pt;
    border-width: 2px;
    font-family: Montserrat-Regular;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
  }
  .btn-primary:nth-last-of-type() {
    margin-right: 0px;
  }
  
  .btn-primary:hover, .btn-primary:active, .markdown a:hover, .markdown a:active {
    color: #fff;
    background-color: #4bbdec;
    border-color: #4bbdec;
    text-decoration: none;
  }
  
  .btn-primary.btn-white {
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .btn-primary.btn-white:hover {
    border-color: #ffffff;
    color: #4bbdec;
    background-color: #ffffff;
  }
  
  .btn-primary.btn-dark {
    border-color: #222c38;
    color: #ffffff;
    background-color: #222c38;
  }
  
  .btn-primary.btn-dark:hover {
    border-color: #11161c;
    color: rgba(255, 255, 255, 0.95);
    background-color: #11161c;
  }
  .button-style{
    margin-left: 15%;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .OASP .markdown p {
    text-align: left;
    padding-left: 10%;
    font-size: 12pt;
  }
  .OASP .markdown h2 {
    text-align: left;
    margin-left: 10%;
  }

  .OASP .markdown li {
    text-align: left;
    margin-left: 10%;  
    font-size: 12pt;  
  }
  .btn-primary:nth-last-of-type() {
    margin-right: 0px;
  }
  
  .btn-primary:hover, .btn-primary:active, .markdown a:hover, .markdown a:active {
    color: #fff;
    background-color: #4bbdec;
    border-color: #4bbdec;
    text-decoration: none;
  }
  
  .btn-primary.btn-white {
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .btn-primary.btn-white:hover {
    border-color: #ffffff;
    color: #4bbdec;
    background-color: #ffffff;
  }
  
  .btn-primary.btn-dark {
    border-color: #222c38;
    color: #ffffff;
    background-color: #222c38;
  }
  
  .btn-primary.btn-dark:hover {
    border-color: #11161c;
    color: rgba(255, 255, 255, 0.95);
    background-color: #11161c;
  }
  .button-style{
    margin-left: 8%;
  }
 }