<div class="container-fluid OASP">
  <div class="container">
    <div class="row" style="padding-top: 180px">
      <div class="col-lg-7 col-md-12 col-sm-7 col-12 text-xs-center">
        <div class="markdown">
          <markdown [path]="'../../assets/content/OASP/about.md'"></markdown>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom:50px">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-xs-center">
         <!--why devonfw?-->
         <a href="oasp#whydevonfw" class="btn btn-primary btn-dark">Why devonfw?</a>        
        <!--framework-->
        <a href="oasp#fw" class="btn btn-primary btn-white">Framework</a>
        <!--Getting started-->
        <a href="https://troom.capgemini.com/sites/vcc/devon/getstarted.aspx" class="btn btn-primary btn-white">Getting started</a>
      </div>
    </div>
  </div>
</div>
<app-why-devonfw></app-why-devonfw>
<app-tab-panel></app-tab-panel>
<app-framework></app-framework>
<app-used-technologies></app-used-technologies>
 <!--<app-try-it></app-try-it>-->
<app-devonfw></app-devonfw>
<app-collaboration-contribution></app-collaboration-contribution>
<app-slider></app-slider>
<app-university-activities></app-university-activities>


